$primary: #005082;
$secondary: #ececec;
$accent: #ff5733;
$background: #161B22;
$textColor: #939FB1;
$white: #FFF;
$black: #000;
$forest: #005082;
$borderColor: #DBDBDB;
$borderColorLight: #D8D8D8;
$boxShadow:  0 25px 50px rgba(0, 0, 0, 0.1);
